.pagination {
    width: 100%;
}
#react-paginate {
    padding: 10px;
}
#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    background: #EA564B;
    color: #fff;
}

#react-paginate li {
    display: inline-block;
    margin: 20px;

    &:hover {
        cursor: pointer;
    }
    
    a {
        color: #fff;
    }
}