$fiestaFont: 'Dokdo', cursive;

.list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #77d1bf;
    margin: 10px 10px 20px;
    padding: 10px;
    // border-radius: 0 25px;
    box-shadow: 0 4px 8px 0 #EA564B;
    color: #fff;
    // max-width: 90%;

    button {
        float: right;
        height: 50px;
    }

    span {
        padding: 15px;
        max-width: 90%;
        word-wrap: break-word;

        label {
            font-weight: bold;
            font-family: $fiestaFont;
            font-size: 1.5em;
        }
    }
}