$fiestaFont: 'Dokdo', cursive;

.edit-page-container {
    // background: yellow;
    max-width: 600px;
    padding: 15px;
}

form {
    label {
        width: 100%;
        text-align: left;
    }
    input {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
    }
}

.button-container {
    margin-top: 15px;

    button {
        margin: 0 15px;
    }
}