$fiestaFont: 'Dokdo', cursive;

.App {
  text-align: center;
}

.App-header {
  background-color: #EA564B;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white !important;
}

.app-container {
  display: flex;
  justify-content: space-around;
}

.fiesta {
  font-family: $fiestaFont;
  font-size: 4em;
  color: #EA564B;
}


